body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}
h1,
h2 {
  text-align: center;
  background-color: #800020;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 2em;
}
ul {
  list-style-type: none;
}
.basicLightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px 5px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-form .btn {
  background-color: #800020;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.search-form .btn:hover {
  background-color: #590015;
}

.search-form .clear-btn,
.remove-btn,
.desc-btn {
  margin-left: 10px;
}
.container {
  height: 100%;
}

.desc-modal {
  width: 80%;
  max-width: 900px;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.link-docs {
  color: #333;
  text-decoration: none;
}

.link-docs:hover {
  color: #800020;
}
